html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: -35px;
    text-transform: uppercase;
}

.wrapper-content {
    position: absolute;
    top: 10%;
    left: 30%;
}

.content {
    text-align: center;
}

.box img {
    height: 300px;
    width: 600px;
    display: block;
    border-radius: 300px 300px 0 0;
    margin-left: 12%;
    margin-right: 2%;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 3px 0;
    color: brown;
    margin-left: 25%;
    /*  margin-right: 10%; */
}

.m-b-md {
    margin-bottom: 20px;
}

.title1 {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 10px 0;
    position: absolute;
    bottom: 50%;
    left: 40%;
    color: brown;
}

.wrapper-card {
    width: 220px;
    position: absolute;
    top: 2%;
    left: 5%;
}

.card {
    position: fixed;
}

.bi-list {
    margin-top: 2.8%;
    display: block;
}

#myLinks {
    display: none;
}

.list-group-item {
    display: block;
    text-decoration: none;
}

.text {
    position: fixed;
    top: 13.3%;
    left: 10%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
}

.form-input select {
    position: absolute;
    top: 28%;
    right: 45%;
    border: none;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

.form-input .b-icon {
    position: absolute;
    top: 28%;
    right: 42.5%;
}

.output {
    position: absolute;
    bottom: 40%;
    left: 36.5%;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

/* product */

/* .product-one {
    position: absolute;
    top: 70%;
    border: 1px solid gray;
    padding: 6%;
} */

footer {
    width: 100vw;
    position: absolute;
    top: 120%;
    left: 0;
    background: rgb(212, 211, 211);
    text-align: center;
    padding: 20px;
}

.wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
}

/* create book form */

.create-book {
    //background: #f7f7f7;
    padding: 20px;

    label,
    select {
        display: inline;
    }

    label {
        margin-top: 30px;
    }

    select {
        padding: 8px;
        width: 200px;
    }

    input[type="submit"] {
        background: brown;
        padding: 8px 20px;
        color: #fff;
        border: 0;
        display: inline;
        margin-left: 10px;
        /* position: absolute;
        top: 60%;
        left: 9.4%; */
    }
}

/* book index page */

.book-details {
    background: #f7f7f7;
    padding: 20px;

    p {
        margin: 20px 0;
        font-weight: bold;
    }

    button {
        background: brown;
        padding: 8px 20px;
        color: white;
        border: 0;
        margin-top: 20px;
    }
}

a .back {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: brown;
    margin-bottom: 20px;
}

/* book index page */

h1 {
    margin-bottom: 40px;
}

.book-item {
    margin: 10px 0;
    padding: 12px;
    background: #f7f7f7;

    img {
        width: 60px;
        display: inline-block;
        border-radius: 50%;
    }

    h4 {
        display: inline-block;
        font-weight: normal;
        margin-left: 20px;

        a {
            color: #777;
            text-decoration: none !important;
        }
    }
}
